<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hfut.laboratory.mapper.CustomerCardMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hfut.laboratory.pojo.CustomerCard">
        <id column="id" property="id" />
        <result column="customer_id" property="customerId" />
        <result column="card_id" property="cardId" />
        <result column="opening_time" property="openingTime" />
        <result column="dead_time" property="deadTime" />
        <result column="remarks" property="remarks" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, customer_id, card_id, opening_time, dead_time, remarks
    </sql>

</mapper>
